<table class="widefat fixed">
    <tbody>
    <tr>
        <td colspan="1">[[label-custom-word]]</td>
        <td colspan="4">[[custom-word]]</td>
    </tr>
    <tr>
        <td colspan="1">[[label-replace-word]]</td>
        <td colspan="4">[[replace-word]]</td>
    </tr>
    <tr>
        <td colspan="1">[[label-font-family]]</td>
        <td colspan="4">[[font-family]]</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2">[[label-fore-color]] [[fore-color]]</td>
        <td colspan="2">[[label-background-color]] [[background-color]]</td>
    </tr>
    <tr>
        <td colspan="1">[[label-hyperlink]]</td>
        <td colspan="4">[[hyperlink]]</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>[[label-bold]] [[bold]]</td>
        <td>[[label-italic]] [[italic]]</td>
        <td>[[label-underline]] [[underline]]</td>
        <td>[[label-line-through]] [[line-through]]</td>
    </tr>
    <tr>
        <td colspan="1">[[label-case-sensitive]]</td>
        <td colspan="4">[[case-sensitive]]</td>
    </tr>
    <tr>
        <td colspan="1">[[label-preview]]</td>
        <td colspan="4">[[preview]][[id]]</td>
    </tr>
    </tbody>
</table>